body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("https://unsplash.com/photos/2pUz1VSINsA/download?force=true");
    background-size: auto, cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
    color: #fff;
    padding: 5em;
}

.lastvisited {
    width: 80%;
}

.custom-card{
    max-height: 300px;
    min-height: 300px;
}